* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./img/AbxagPM.jpeg) no-repeat center/cover;
}

.wrapper {
  width: 605px;
  padding: 30px 30px 25px;
  border-radius: 10px;
  background: #ffffff26;
  border-radius: 16px;
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.wrapper header {
  text-align: center;
  font-size: calc(30 / 16 * 1rem);
  font-weight: 600;
  color: #ffffffdb;
}

.wrapper .content {
  margin: 35px 0;
  color: #ffffffbf;
}

.content .quote-area {
  display: flex;
  justify-content: center;
}

.quote-area i {
  font-size: calc(15 / 16 * 1rem);
}

.quote-area i:first-child {
  margin: 3px 10px 0 0;
}

.quote-area i:last-child {
  display: flex;
  margin: 0 0 3px 10px;
  align-items: flex-end;
}

.quote-area .quote {
  font-size: calc(22 / 16 * 1rem);
  text-align: center;
  word-break: break-all;
}

.content .author {
  display: flex;
  font-size: calc(18 / 16 * 1rem);
  margin-top: 20px;
  font-style: italic;
  justify-content: flex-end;
}

.author span:first-child {
  margin: -7px 5px 0 0;
  font-family: monospace;
}
